<div class="container">
    <h1>Weddings at Luxury Elvira</h1>
<h3>Let us help you to create an unforgettable day!</h3>
<p>
    Our venue has not only won awards for its exceptional weddings but it is placed close to our heart for your big day!
    Would you like to have the most beautiful day of your life with one of the most popular traditional wedding ideas in the world? Then Elvira Dreams is ready to make your dream a reality.
  We offer the opportunity to fulfill traditional wedding ideas from over <b>20 countries</b>, complete with customs ... 
  <b>This is the first and only experience in Sri Lanka ..</b>
  You can have your ceremony in our licensed premise or alternatively just use it for the night do and evening meal.
</p>
<br>
<hr>
<h4>Wedding Late Availability</h4>
<h5>
  Historic estates. Traditional banquet halls. Beach pavilions. Industrial lofts. The number of types of wedding venues available today is dizzying. How do you choose the perfect setting for your big day? 

Some venues won’t feel like your style from the get-go. (If you’re a laidback pair, skip the banquet halls with crystal chandeliers.) Other venues go on the ‘maybe’ list. And a few will give you that ‘just right’ vibe. 

To narrow things down before wasting too much time and energy, explore our rundown of traditional, new, and unusual wedding venue types, then find out how many venues you should visit in person.
</h5>
<table>
  <th>Our 36 Types of Wedding Venues </th>
  <tr>
    <td>
      <div class="alert alert-info" role="alert">
        <h2>Traditional wedding venue types</h2>
        <ul>
          <li>Stand-alone banquet hall</li>
          <li> Bed & breakfast or inn</li>
          <li>Hotel or resort</li>
          <li>House of worship</li>
          <li>Country club</li>
          <li>Historic site, home, or mansion</li>
          <li>Vacation rental</li>
          <li>Museum</li>
          <li>Restaurant</li>
          <li>Urban loft</li>
        </ul> 
      </div>
    </td>
    <td>
      <div class="alert alert-info" role="alert">
        <h2>Outdoor wedding venue types</h2>
        <ul>
          <li>Beach or waterfront</li>
          <li>Winery or vineyard</li>
          <li>Barn or farm</li>
          <li>Mountain lodge</li>
          <li> Botanical garden</li>
          <li>Local, state, or national park</li>
          <li>Treehouse</li>
          <li>Boat or yacht</li>
        </ul>  
      </div>
    </td>
    <td>
      <div class="alert alert-info" role="alert">
        <h2>Unique wedding venue types</h2>
        <ul>
          <li>Antique or vintage store</li>
          <li>Art (or craft) gallery</li>
          <li>Craft brewery or distillery</li>
          <li>Gym or sports facility</li>
          <li>Planetarium or zoo</li>
          <li> Chateau or castle</li>
          <li>Warehouse</li>
          <li>Sports stadium</li>
          <li>Theme park</li>
        </ul>
      </div>
    </td>
  </tr>
</table>
</div>
