<div class="container1">
    <h1>Welcome !! Our Bridal Suite</h1>
    <p>Start married life in style in one of the UK's most beautiful bridal suites. Whether you're looking for a luxury hotel for your first night as newlyweds or for a romantic getaway after the wedding, these are the best places to stay</p>
  </div>
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
      <div class="col-12 col-md-6 col-lg-3">
        
    <img src="https://i.pinimg.com/236x/04/41/3f/04413f5474e5e93337c13948cc5f73f1.jpg" data-target="#indicators" data-slide-to="0" alt="" /> 
      </div>
      <div class="col-12 col-md-6 col-lg-3">
           <img src="https://i.pinimg.com/564x/ae/39/5d/ae395db9bb3af337f01ae563555687c5.jpg" data-target="#indicators" data-slide-to="1" alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
         <img src="https://i.pinimg.com/564x/78/e0/5c/78e05c633484b0ef2e7b1b5cbc29c73f.jpg" data-target="#indicators" data-slide-to="2"  alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
           <img src="https://i.pinimg.com/236x/dc/79/51/dc79511b888fdc00a3445f74f44c112d.jpg" data-target="#indicators" data-slide-to="3" alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
           <img src="https://i.pinimg.com/236x/0d/78/88/0d7888a58e7c01903afc01a925f6ce26.jpg" data-target="#indicators" data-slide-to="3"  alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
           <img src="https://i.pinimg.com/236x/81/c0/99/81c099efcd3f97d7824a43ba504c2d1a.jpg" data-target="#indicators" data-slide-to="4" alt="" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <img src="https://i.pinimg.com/236x/e5/ed/2f/e5ed2f9aefbb6fb83a3248aa7f3019d6.jpg" data-target="#indicators" data-slide-to="4" alt="" />
   </div>
   <div class="col-12 col-md-6 col-lg-3">
        <img src="https://i.pinimg.com/236x/54/8a/61/548a6129ff1fa0dc9416029c04954dda.jpg" data-target="#indicators" data-slide-to="4" alt="" />
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <img src="https://i.pinimg.com/236x/8a/9c/12/8a9c127da6ef261b31b709f3c71015f1.jpg" data-target="#indicators" data-slide-to="4" alt="" />
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <img src="https://i.pinimg.com/564x/ea/d0/28/ead0281fbc2dddd2110508dda476ac2c.jpg" data-target="#indicators" data-slide-to="4" alt="" />
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <img src="https://i.pinimg.com/236x/53/29/90/532990f4edd65a83c6401136464c9b93.jpg" data-target="#indicators" data-slide-to="4" alt="" />
    </div>
    <div class="col-12 col-md-6 col-lg-3">
     <img src="https://i.pinimg.com/564x/50/a5/ce/50a5cedf2973381117fa6a8842b3c5b9.jpg" data-target="#indicators" data-slide-to="4" alt="" />
 </div>
    </div>   
</div>
    

