<h1>bistro dining and bar in Elvira</h1>
<p>
    The best of tropical dining with a passion for great food, seasonality, creative cocktails, open kitchen design and a relaxed atmosphere – it’s what makes us unique
</p>
<p>
    <b>Fresh Favorite:</b>
    Start the day with our take on the traditional Eggs Benedict with a Sri Lankan twist! Spicy Eggs Benny – poached eggs on spicy coconut roti, spinach, curried hollandaise, sausages, bacon and chili sambol.
</p>
<p>
    <b>Comfort Classic:</b>
    Our catch of the day paired with seasonal produce to create the brightest and freshest salads, our menu brings you the dishes that speak to your heart.
</p>
<p>
    <b>Ocean Fresh:</b>
    Tamarind glazed seared Yellow-fin tuna served with steamed rice, fresh Gotu Kola sambol and curry sauce
</p>
<p>
    <b>Sweet Delights:</b>
    An array of daily dessert specials reflect what’s in season but our menu always features Sesame and cashew cream cheesecake – and of course decadent chocolate biscuit.
</p>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/196315264_4926295320732937_3383865401504799789_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=cemBdDT0YdsAX9y9Ahg&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT_65uaD5G4f67AS5DNdeDHVJ7VKFsubRuv6olw2F6aPNA&oe=62DB649B" class="zoom img-fluid "  alt="">
               

        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/187178201_4848423825186754_6197398730604338068_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=KTs4NLYhtR8AX8L7tCJ&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT9CVzNhZkWvLZ4BcaCvR-SBnwYdC3tpiXJ_6oq82gw8JA&oe=62DCDFFD" class="zoom img-fluid"  alt="">

        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/127921785_4348711595157982_3425777134160503641_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a26aad&_nc_ohc=ZiFBPYlHdJMAX8sfNo8&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT9O1Rg5NJDYDYDuOh_sSCSH1xAKVLY0D98HLtWzRcmUxg&oe=62DAC46B" class="zoom img-fluid "  alt="">

        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/124812995_4301149859914156_6375526001555695829_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=eyliJ83qfwAAX8MUZyM&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT-IOqUuBEPynB2DzANJNyicLeMvtxboUklNopK8jqTLsA&oe=62DA64FB" class="zoom img-fluid "  alt="">

        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/83340393_3267965269899292_7293154012512124928_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=eQgRdCZZzAoAX8v6w7M&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT_RcWiEMKCntyV0y7vSfarJ9a9CUiCiiZC383ixxtn5Kg&oe=62DC3EB8" class="zoom img-fluid "  alt="">
            
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/66639646_2743396132356211_8633834934496133120_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=9267fe&_nc_ohc=eFRc7us3KXQAX_Hqslx&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT91MhgK-Dwvn4cSNyOCZOA5kzpTCZaQj7Oleis592_OJQ&oe=62DD044E" class="zoom img-fluid "  alt="">
  
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/60587553_2643162305712928_4866968802803318784_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=E7Y331TsZv4AX9wffDd&tn=1JLX5z7dTGf2BZyP&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT-dPAm7D6lGPX9wIDQP0PCdANxovwYTf_JZuZ9HHmIbuw&oe=62DB3A60" class="zoom img-fluid "  alt="">
           
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            
                <img  src="https://scontent.fcmb11-1.fna.fbcdn.net/v/t1.6435-9/54728397_2531770050185488_7905223660061851648_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9267fe&_nc_ohc=BEZM2UeKW7IAX8fydZa&_nc_ht=scontent.fcmb11-1.fna&oh=00_AT_3i7V90BHj3FI6aThNXJs1VpPyAO0OIGGs_3SYK-pF_Q&oe=62DCF474" class="zoom img-fluid "  alt="">
            
        </div>   
   </div>
   <hr>
</div>
