<!-- header section -->
<h1 class="text">Things to do in and around colombo with ELVIRA</h1>
<br>
<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://duqjpivknq39s.cloudfront.net/2018/12/800x750-10.jpg" class="card-img-top" >
                <div class="card-body">
                    <h4 class="card-title">Gangaramaya Temple</h4>
                    <h5 class="card-subtitle">Temple of legacy</h5>
                    <p class="card-text">Gangaramaya is one of the oldest Buddhist temples in Colombo, started by the famous scholar monk Hikkaduwe Sri Sumangala Nayaka Thera in the late 19th Century..</p>
                    <p class="card-text"><small class="text-muted">A temple is a beacon, a lighthouse for the storm-tossed</small></p>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://pbs.twimg.com/media/CpMgoI-UkAAcm-p.jpg" class="card-img-top" >
                <div class="card-body">
                    <h4 class="card-title">Advencture with Elvira</h4>
                      <h5 class="card-subtitle">enjoy your life with advencture</h5>
                      <p class="card-text">Water Raffting,Bubble shooting,Crate adventure and many more things avaible</p>
                      <p class="card-text"><small class="text-muted">Adventure is worthwhile in itself</small></p>
                    
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://www.jetstar.com/_/media/inspiration-hub/article-images/20feb/sri-lankatop-restaurants-colombo/srilanka_colombo_food_hero.jpg?rev=5cbab9bd26724b99b0340d35311f66fe&w=1050&rc=1&cw=1050&ch=590&cx=55&cy=0&hash=D602CD6FE7141019A2382F345CAAD6330931E456" class="card-img-top" >
                <div class="card-body">
                    <h4 class="card-title">Colombo Street Food Tour</h4>
                      <h5 class="card-subtitle">Street food yummy time</h5>
                      <p class="card-text">This experience allows you to visit the old town of Colombo and get to know the most celebrated street foods of Sri Lanka</p>
                      <p class="card-text"><small class="text-muted">If you are feeling really brave the visit continues on to another popular eatery where you get the chance to enjoy a spicy dinner</small></p>
                    
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://duqjpivknq39s.cloudfront.net/2018/12/800x750-93.jpg" class="card-img-top" >
                <div class="card-body">
                    <h4 class="card-title">Village Tour</h4>
                      <h5 class="card-subtitle">Beautifull Ape GAMA</h5>
                      <p class="card-text">xperience a village tour learning and connecting with authentic rural life of Sri Lanka. An interesting excursion involving traditional rides on a bullock cart, through the lakes via local catamaran and interactions with the farmers and villagers ending with a typical home cooked meal in one of their homes.</p>
                      <p class="card-text"><small class="text-muted">If you are feeling really brave the visit continues on to another popular eatery where you get the chance to enjoy a spicy dinner</small></p>
                    
                </div>
            </div>
        </td>
    </tr>
</table>
<br>
