<div class="container">
    <p class="tex">
        <b>
            EXCLUSIVE OFFERS
        </b>
    </p>
        <h1>
            exclusive luxury villa offers in sri lanka
        </h1>
        <p>
            Take pleasure in a delightful stay at one of our luxury villas in Sri Lanka! Experience some of the finest amenities and luxurious seclusion by the untouched beaches in the south. Make your getaway to one of our havens tucked away in the tropical charm of the island with our exclusive offers!
        </p>
    <table>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/3/2022/06/rsz_lantern_beachbed-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">advance purchase offer at lantern boutique hotel</h5>
                      <p class="card-text">Book your beach vacation 90 days or more prior to your arrival and save 40%!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" routerLink="/Booking"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/3/2022/06/rsz_img_4184_2020-06-01_12_10_09.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">stay more and pay less at lantern boutique hotel</h5>
                      <p class="card-text">Treat yourself to a 4 night stay for the price of 3 and indulge in the oceanic luxuries!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" routerLink="/Booking"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/11/2022/06/rsz_3ubuntu-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">advance purchase offer at ubuntu beach villas</h5>
                      <p class="card-text">Book an indelible stay by the beach 90 days or more in advance and save up to 40%!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" routerLink="/Booking"  >Book Now</a>
                    </div>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/11/2022/06/rsz_1sdfghjk-min_1-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">stay more and pay less at ubuntu beach villas</h5>
                      <p class="card-text">Book an extended stay with us for 4 or more nights and get a one night stay on BB basis absolutely free!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" routerLink="/Booking"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/33/2020/12/e-beach-house-768.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">advance purchase offer at the beach house</h5>
                      <p class="card-text">Book your stay by the beach 90 days prior to your arrival and get 40% off on the published rates!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" [routerLink]="['/Book']"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/35/2022/01/general-offer-768-4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">the highland experience offer</h5>
                      <p class="card-text">Book any room of your choice for five nights and savour a delicious breakfast with the soothing ambience of the outdoors and a scrumptious dinner coupled with delightful Ceylon tea on the last night of your stay!</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" [routerLink]="['/Book']"  >Book Now</a>
                    </div>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/35/2022/01/general-offer-768-2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">resident offer</h5>
                      <p class="card-text">Residents of Sri Lanka are offered an array of exclusive benefits, including special half-board rates and other additions throughout the day.</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" [routerLink]="['/Book']"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/35/2022/01/high-tea-768x730-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">advance purchase offer at the lavender house</h5>
                      <p class="card-text">Discounts up to 40% are available to those who book early and choose our Advance Purchase Offer</p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" [routerLink]="['/Book']"  >Book Now</a>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://d2r2v0jxjsbm0p.cloudfront.net/sites/35/2022/01/general-offer-768-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">lavender suite offer | stay pay offer </h5>
                      <p class="card-text">
                        Pick our Lavender suite for your highland getaway and treat yourself to a palatable high tea.
                        Pay for just three nights and spend four nights within the hilly terrain of Sri Lanka
                      </p>
                      <p class="card-text"><small class="text-muted">Offer is valid for stays until 18th of December 2022</small></p>
                      <a href="#" class="btn btn-primary" [routerLink]="['/Book']"  >Book Now</a>
                    </div>
                  </div>
            </td>
        </tr>
    </table>
</div>
